# vim: syntax=sh st=2 sw=2
## Folders
alias pj="cd ~/Projects/"
alias tmp="cd ~/tmp"

## Command Enhancements
alias ..="cd .."
alias ...="cd ../.."

# enable color support of ls and also add handy aliases
if [[ -x /usr/bin/dircolors ]]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto'
  #alias dir='dir --color=auto'
  #alias vdir='vdir --color=auto'
  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi

# Common -- Some are from Damian Conway
alias a='ls -A' # -A all except literal . ..
alias la="ls -A -l -G"
alias h='history'
alias l.='ls -d .[^.]*'
alias l='ls -lhGt'  # -l long listing, most recent first
alias lh='ls -lh'
alias ll='ls -lhG'  # -l long listing, human readable, no group info
alias lt='ls -lt' # sort with recently modified first
alias md='mkdir -p'
alias k9="killall -9"

#################
#### TOOLS ######
#################
alias tree="tree -I 'bower_components|node_modules|tmp|.tmp|.sass-cache|vendor'"
# git
alias gs="git s"
alias gl="git lg"
alias gd="git d"

#################
### SYSTEM ######
#################
alias find='find --color=auto'

##################
###### PHP #######
##################
# ARTISAN (Laravel)
alias artisan='php artisan'

# phpspec
alias phpspec='php vendor/bin/phpspec'

# behat
alias behat='php vendor/bin/behat --colors'
